[Desktop Entry]
Name=Bos Wars
GenericName=boswars
Comment=Battle for survival
Comment[de]=Kampf um das Überleben
Type=Application
Exec=boswars
Icon=boswars.png
StartupNotify=true
Terminal=false
Categories=Game;
